/*
    Auther: Abdelrhman Said
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html,
body {

    display: grid;
    height: 80%;
    width: 100%;
    font-family: "Century Gothic", sans-serif;
    place-items: center;
	text-align: center;
}

.form-field .title-form {
	font-size: 30px;

}

.form-field .what{
	color:#25D366;
}

.form-field .inst{
	background: linear-gradient(45deg, #fdf497 0%, #fd5949 50%, #285AEB);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
}

.form-field .online{
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #8AA9D6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
}
.form-field .love{
  color: red;
}

.form-field .title-sub {
	font-size: 15px;
	width: 100%;
	text-align: center;
    display: block;
	margin-left: auto;
    margin-right: auto;
	
}

.btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Century Gothic', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  text-decoration: none;
}

.btn-line {
  width: 300px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, #36096D 0%, #37D5D6 100%);
}
.btn-line:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
   
}
.btn-line:before,
.btn-line:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-line:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
  
}
.btn-line:hover:before,
.btn-line:hover:after{
  width:100%;
  transition:800ms ease all;
}

